<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.tieto"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="10"/>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application android:icon="@drawable/icon" android:label="Energy Components">
    	<uses-library android:name="com.google.android.maps" />
        <activity android:name=".ec.activities.Welcome"
                  android:label="Energy Components">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		<activity android:name=".ec.activities.Login" android:label="Login" ></activity>
		<activity android:name=".ec.activities.LoginOptions" android:label="Login Options" ></activity>
		<activity android:name=".ec.activities.DailyMorningReport" android:label="Daily Morning Report" ></activity>
		<activity android:name=".ec.activities.DailyMoringReportOptions" android:label="Daily Morning Report Options" ></activity>
    </application>
</manifest>