<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.tieto"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="10"/>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application android:icon="@drawable/icon" android:label="Energy Components">
        <activity android:name=".ec.activities.WelcomeActivity"
                  android:label="Energy Components">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		<activity android:name=".ec.activities.LogIn" android:label="Log In" ></activity>
		<activity android:name=".ec.activities.DailyMorningReport" android:label="Daily Morning Report" ></activity>
		<activity android:name=".ec.activities.WellPeriod" android:label="Well - Period" ></activity>
		<activity android:name=".ec.activities.WellSingle" android:label="Well" ></activity>
		<activity android:name=".ec.activities.listActivities.DmrOptionActivity" android:label="DMR Options" ></activity>
    </application>
</manifest>